::-webkit-scrollbar{
    width: 9px;
}

::-webkit-scrollbar-track{
    background: #FAF1DE;
}

::-webkit-scrollbar-thumb{
    background-color: #355E3B;
    border-radius: 6px;
    border: 1px solid #FAF1DE;
}

@media screen and (max-width: 688px) {
    ::-webkit-scrollbar{
        width: 6px;
    }
}